*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #777, #fff);
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
